<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="agate.css" charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
</head>
<body>
    <style type="text/css">
        *{box-sizing: border-box;}
        .mt-4, .my-4 {margin-top: 1.5rem!important;}
        .mb_cont_tit > h4{margin-bottom:10px;}
        .mt-2, .my-2 {margin-top: .5rem!important;}

        @media only screen and (max-width: 600px) {
            .signFromCont{padding:10px;border: none;}
        }

        @media only screen and (min-width: 768px) {
            .mt-md-5, .my-md-5 {
                margin-top: 3rem!important;
            }
        }

    </style>

<div class="signup_container col-md-5">
    <div class="bv-example-row mt-md-5 mt-4 mb-md-5 mb-4">
        <div class="signup_logo"><img alt="Vue logo" src="logo.png"></div>
        <h4 class="activeClass">회원가입</h4>
        <div class="signFromCont hideCont">

            <div data-v-b059e14a="">
                <div data-v-b059e14a="" class="signup_head">
                    <div data-v-b059e14a="" id="successCont" class="stepper_box activeClass">
                        <div data-v-b059e14a="" class="steps_wrapper">
                            <!-- preps deactivated activated -->
                            <div data-v-b059e14a="" id="depth1" class="step preps activated">
                                <div data-v-b059e14a="" class="circle">
                                    <i data-v-b059e14a=""></i>
                                </div>
                                <div data-v-b059e14a="" class="step_title">
                                    <p data-v-b059e14a="">이용동의</p>
                                </div>
                            </div>
                            <div data-v-b059e14a="" id="depth2" class="step deactivated">
                                <div data-v-b059e14a="" class="circle">
                                    <i data-v-b059e14a=""></i>
                                </div>
                                <div data-v-b059e14a="" class="step_title">
                                    <p data-v-b059e14a="">회원정보입력</p>
                                </div>
                            </div>

                            <div data-v-b059e14a="" id="depth3" class="step deactivated">
                                <div data-v-b059e14a="" class="circle">
                                    <i data-v-b059e14a=""></i>
                                </div>
                                <div data-v-b059e14a="" class="step_title">
                                    <p data-v-b059e14a="">가입완료</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-b059e14a="" id="successCont" class="mb_cont_tit activeClass">
                        <h4 data-v-b059e14a="">MAKEPIN에 오신 걸 환영합니다!</h4>
                        <p data-v-b059e14a="">안전하고 편리한 서비스 이용을 위해 아래 내용을 확인 후 동의해주세요!</p>
                    </div>
                </div>


                <div data-v-62c89130="" class="sign_input_box">
                    <div data-v-62c89130="" class="title">
                        <span data-v-62c89130="" id="idtitle">✓ </span>아이디로 사용할 이메일주소를 입력해주세요.
                    </div>
                    <div data-v-62c89130="" class="input_box dis_b">
                        <input data-v-62c89130="" type="text" id="emailName" placeholder="본인이 실제 사용하는 이메일 주소를 입력하세요.">
                        <span data-v-62c89130="">아이디로 사용할 이메일주소를 입력</span>
                    </div>
                </div>

                <div data-v-62c89130="" class="mt-4">
                    <div data-v-62c89130="" class="sign_input_box">
                        <div data-v-62c89130="" class="title">
                            <span data-v-62c89130="" id="pwdtitle">✓ </span>비밀번호를 입력해 주세요.
                        </div>
                        <div data-v-62c89130="" class="input_box dis_b"> <!-- focus success -->
                            <input data-v-62c89130="" type="password" id="txtPassword1" placeholder="영문/숫자/특수문자 중 2가지 조합 4~15자리">
                            <span data-v-62c89130="">사용가능한 비밀번호 입니다.</span>
                        </div>
                    </div>
                    <div data-v-62c89130="" class="sign_input_box mt-2">
                        <div data-v-62c89130="" class="input_box">
                            <input data-v-62c89130="" type="password" id="txtPassword2" placeholder="비밀번호 확인">
                            <span data-v-62c89130=""></span>
                        </div>
                    </div>
                    <div data-v-62c89130="" class="list_txt_type2">
                        <ul data-v-62c89130="">
                            <li data-v-62c89130="" class="title_li">비밀번호 정책</li>
                            <li data-v-62c89130="">띄어쓰기(공백)불가 -최소4자 ~ 최대 15자 / 영문, 숫자, 특수문자 중 2가지 이상 조합</li>
                            <li data-v-62c89130="">대소문자 구분</li>
                        </ul>
                    </div>
                </div>

                <div data-v-62c89130="" class="sign_input_box mt-4">
                    <div data-v-62c89130="" class="title">
                        <span data-v-62c89130="">✓ </span>본인 휴대폰으로 인증해주세요.
                    </div>
                    <div data-v-62c89130="" class="input_box">
                        <button data-v-62c89130="" id="phoneDeptnBtn" class="btnn bTcont phoneBtn">휴대폰 인증하기</button>
                    </div>
                </div>

                <div data-v-62c89130="" class="sign_input_box mt-4">
                    <div data-v-62c89130="" class="title">✓ 계좌 인증을 해주세요.</div>
                    <div data-v-62c89130="" class="input_box">
                       
                        <div data-v-62c89130="" class="phoneDbCheck mt-2">
                            <input data-v-62c89130="" type="number" placeholder="계좌번호 입력 후 “인증하기” 를 누르세요.">
                            <button data-v-62c89130="">인증하기</button>
                        </div>
                    </div>
                </div>

                <!-- grd -->
                <button data-v-62c89130="" id="nextDeptnBtn" class="btnn bTcont bTsuccess">회원가입하기</button>

            </div>
        </div>
    </div>

<script>
    $("#emailName").focus(function() {
        $(this).parent().addClass('focus');
    });

    $("#txtPassword1").keyup(function(){
        passwordChecked1($(this))
    });

    $("#txtPassword2").keyup(function(){
        passwordChecked2($(this))
    });

    $("#txtPassword1").blur(function(){

    });


    function inputBlur(obj){
       
    }
    
    function checkEmail(obj){
        if(this.from.userId == ''){
            obj.parent().removeClass('success focus dis_b');
            return
        }

        if(this.effectEmail(this.from.userId) != true){
            this.emailText = '이메일 형식이 올바르지 않습니다.'
            obj.parent().removeClass('success')
            obj.parent().addClass('dis_b')
            setTimeout(function(){
                obj.parent().addClass('focus err');
            }, 400);
            return
        }
    }

    function effectEmail(str){
        var reg_email = /^([0-9a-zA-Z_\.-]+)@([0-9a-zA-Z_-]+)(\.[0-9a-zA-Z_-]+){1,2}$/;
        if(!reg_email.test(str)) {
            return false;
        }
        else {
            return true;
        }
    }

    function passwordChecked1(obj){
        var pw = obj.val();
        var num = pw.search(/[0-9]/g);
        var eng = pw.search(/[a-z]/ig);
        var spe = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
        var kor = pw.search(/[^가-힣ㄱ-ㅎㅏ-ㅣa-zA-Z0-9]/gi);

        var numlength = 0;
        var englength = 0;
        var spelength = 0;

        obj.parent().removeClass('success')

        var txtPassword2 = $('#txtPassword2')

        txtPassword2.removeClass('success focus err dis_b');

        for(var i=0;pw.length > i;i++){
            if(pw[i].search(/[0-9]/g) != -1){
                numlength++
            } else if(pw[i].search(/[a-z]/ig) != -1){
                englength++
            } else if(pw[i].search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi) != -1){
                spelength++
            } else if(pw[i].search(/[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/gi) != -1){
                obj.next('span') = "한글은 패스워드에 사용할 수 없습니다."
                obj.parent().addClass('dis_b')

                setTimeout(function(){
                    obj.parent().addClass('focus err');
                }, 400);
                return
            }
        }

        if(pw.length == 0){
            obj.parent().removeClass('focus err dis_b');
            return
        }
        if(pw.length < 4 || pw.length > 15){
            this.passwordText1 = "4자리 ~ 15자리 이내로 입력해주세요."
            obj.parent().addClass('dis_b')
            setTimeout(function(){
                obj.parent().addClass('focus err');
            }, 400);

            return false;
        }else if(pw.search(/\s/) != -1){
            this.passwordText1 = "비밀번호는 공백 없이 입력해주세요."
            obj.parent().addClass('dis_b')
            setTimeout(function(){
                obj.parent().addClass('focus err');
            }, 400);

            return false;
        }else if( (num < 0 && eng < 0) || (eng < 0 && spe < 0) || (spe < 0 && num < 0) ){
            this.passwordText1 = '영문,숫자, 특수문자 중 2가지 이상을 혼합하여 입력해주세요.'
            obj.parent().addClass('dis_b')
            setTimeout(function(){
                obj.parent().addClass('focus err');
            }, 400);
            return false;
        } else {
            this.passwordText1 = '사용가능한 비밀번호 입니다.'
            obj.parent().addClass('dis_b')
            setTimeout(function(){
                obj.parent().addClass('focus success');
            }, 400);
        }
    }

    function passwordChecked2(obj){
        var txtPassword1 = $('#txtPassword1')
        var txtPassword2 = $('#txtPassword2')

        if(txtPassword2.val() == "") return
        if(txtPassword1.val() == txtPassword2.val()){
            txtPassword2.next('span').html('비밀번호가 일치합니다.')
            obj.parent().addClass('dis_b')
            setTimeout(function(){
                obj.parent().addClass('focus success');
            }, 400);
        } else {
            txtPassword2.next('span').html('비밀번호가 일치하지 않습니다.')
            obj.parent().addClass('dis_b')
            setTimeout(function(){
                obj.parent().addClass('focus err');
            }, 400);
        }
    }

</script>

</body>
</html>