<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" type="text/css" href="agate.css" charset="utf-8">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>

</head>
<body>
    <style type="text/css">
        .mb_section_box{padding:0 1rem;}
        .mb_cont_tit > h4{margin-bottom:10px;}
    }
    @media only screen and (max-width: 600px) {
     .signFromCont{padding:10px;border: none;}
 }

</style>


<div class="signup_container col-md-5">
    <div class="bv-example-row mt-md-5 mt-4 mb-md-5 mb-4">
        <div class="signup_logo"><img alt="Vue logo" src="logo.png"></div>
        <h4 class="activeClass">회원가입</h4>
        <div class="signFromCont hideCont">
            <div id="successShowCont" class="signFromCont not_border hideCont">
                <h1>환영합니다.</h1>
                <h4>회원가입을 진심으로 축하합니다.</h4>
            </div>
            
            <div data-v-b059e14a="">
                <div data-v-b059e14a="" class="signup_head">
                    <div data-v-b059e14a="" id="successCont" class="stepper_box activeClass">
                        <div data-v-b059e14a="" class="steps_wrapper">
                            <div data-v-b059e14a="" id="depth1" class="step preps activated">
                                <div data-v-b059e14a="" class="circle">
                                    <i data-v-b059e14a=""></i>
                                </div>
                                <div data-v-b059e14a="" class="step_title">
                                    <p data-v-b059e14a="">이용동의</p>
                                </div>
                            </div>
                            <div data-v-b059e14a="" id="depth2" class="step deactivated">
                                <div data-v-b059e14a="" class="circle">
                                    <i data-v-b059e14a=""></i>
                                </div>
                                <div data-v-b059e14a="" class="step_title">
                                    <p data-v-b059e14a="">회원정보입력</p>
                                </div>
                            </div>

                            <div data-v-b059e14a="" id="depth3" class="step deactivated">
                                <div data-v-b059e14a="" class="circle">
                                    <i data-v-b059e14a=""></i>
                                </div>
                                <div data-v-b059e14a="" class="step_title">
                                    <p data-v-b059e14a="">가입완료</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-b059e14a="" id="successCont" class="mb_cont_tit activeClass">
                        <h4 data-v-b059e14a="">MAKEPIN에 오신 걸 환영합니다!</h4>
                        <p data-v-b059e14a="">안전하고 편리한 서비스 이용을 위해 아래 내용을 확인 후 동의해주세요!</p>
                    </div>
                </div>

                <!-- background-position: 0px -20px; -->
                <div data-v-b059e14a="" id="fregister_chkall" class="checksWrap_type1">
                    <div data-v-b059e14a="" id="allChecks" class="checks">
                        <input data-v-b059e14a="" type="checkbox" name="chk_all" value="1" id="chk_all">
                        <label data-v-b059e14a="" for="chk_all" style="background-image: url('ico_chk.png');">모두 동의합니다.</label>
                    </div>
                </div>
                <div data-v-b059e14a="" class="mb_section_box">
                    <section data-v-b059e14a="" id="fregister_term" class="mb_section">
                        <fieldset data-v-b059e14a="" class="fregister_agree">
                            <div data-v-b059e14a="" class="checksWrap_type1">
                                <div data-v-b059e14a="" class="checksRe checks">
                                    <input data-v-b059e14a="" type="checkbox" name="agree" id="chk_0" value="만 14세 이상입니다. (필수)">
                                    <label data-v-b059e14a="" for="chk_0" style="background-image: url('ico_chk.png');"></label>
                                    <span data-v-b059e14a="">만 14세 이상입니다. (필수)</span>
                                </div>
                            </div>
                        </fieldset>
                    </section>
                    <section data-v-b059e14a="" id="fregister_term" class="mb_section">
                        <fieldset data-v-b059e14a="" class="fregister_agree">
                            <div data-v-b059e14a="" class="checksWrap_type1">
                                <div data-v-b059e14a="" class="checksRe checks">
                                    <input data-v-b059e14a="" type="checkbox" name="agree" id="chk_1" value="이용약관 동의 (필수)">
                                    <label data-v-b059e14a="" for="chk_1" style="background-image: url('ico_chk.png');"></label>
                                    <span data-v-b059e14a="">이용약관 동의 (필수)</span>
                                </div>
                            </div>
                        </fieldset>
                    </section>
                    <section data-v-b059e14a="" id="fregister_term" class="mb_section">
                        <fieldset data-v-b059e14a="" class="fregister_agree">
                            <div data-v-b059e14a="" class="checksWrap_type1">
                                <div data-v-b059e14a="" class="checksRe checks">
                                    <input data-v-b059e14a="" type="checkbox" name="agree" id="chk_2" value="개인정보처리방침 (필수)">
                                    <label data-v-b059e14a="" for="chk_2" style="background-image: url('ico_chk.png');"></label>
                                    <span data-v-b059e14a="">개인정보처리방침 (필수)</span>
                                </div>
                            </div>
                        </fieldset>
                    </section>
                    <section data-v-b059e14a="" id="fregister_term" class="mb_section">
                        <fieldset data-v-b059e14a="" class="fregister_agree">
                            <div data-v-b059e14a="" class="checksWrap_type1">
                                <div data-v-b059e14a="" class="checksRe checks">
                                    <input data-v-b059e14a="" type="checkbox" name="agree" id="chk_3" value="개인정보 제3자 제공 동의 (필수)">
                                    <label data-v-b059e14a="" for="chk_3" style="background-image: url('ico_chk.png');"></label>
                                    <span data-v-b059e14a="">개인정보 제3자 제공 동의 (필수)</span>
                                </div>
                            </div>
                        </fieldset>
                    </section>
                    <section data-v-b059e14a="" id="fregister_term" class="mb_section">
                        <fieldset data-v-b059e14a="" class="fregister_agree">
                            <div data-v-b059e14a="" class="checksWrap_type1">
                                <div data-v-b059e14a="" class="checksRe checks">
                                    <input data-v-b059e14a="" type="checkbox" name="agree" id="chk_4" value="마케팅정보 수신 동의 (필수)">
                                    <label data-v-b059e14a="" for="chk_4" style="background-image: url('ico_chk.png');"></label>
                                    <span data-v-b059e14a="">마케팅정보 수신 동의 (필수)</span>
                                </div>
                            </div>
                        </fieldset>
                    </section>
                </div>

                <button data-v-b059e14a="" id="nextDeptnBtn" class="btnn bTcont">다음</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('.checksRe input').click(function(){
            if(!$(this)[0].checked){
                $(this).next().css('background-position', '0px 0px');
            } else {
                $(this).next().css('background-position', '0px -20px');
            }
        })

        $('#allChecks').click(function(){
            if(!$(this).children('input')[0].checked){
                $('input').attr('checked', true);
                $('input').next().css('background-position', '0px -20px');
            } else {
                $('input').attr('checked', false);
                $('input').next().css('background-position', '0px 0px');
            }
        })

    </script>

</body>
</html>